/* home.css */


/* .intro_message {
  text-align: center;
  justify-items: center;
  font-size: 1.5rem;
  color: rgb(31, 65, 124);
  max-width: 80%;
  justify-content: flex-start;
} */

/* .intro_message {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5rem;
  padding: 15rem; 
} */