/* /* .header {
    background-color: #d5e2f1 !important; 
} 

.navbar {
    background-color: #d5e2f1 !important;
}

 */
/* Custom CSS for the Header */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    background-color: #d5e2f1;
  }
  
  .header-left, .header-right {
    display: flex;
    align-items: center;
  }
  
  .header-logo {
    display: flex;
    align-items: center;
  }
  
  .header-logo img {
    width: 48px;
    height: 48px;
    margin-right: 8px;
  }
  
  .navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
  }
  
  .nav-links {
    display: flex;
    gap: 24px;
  }
  
  .nav-link {
    font-size: 18px;
    font-weight: 500;
    color: #333;
    text-decoration: none;
  }
  
  .nav-link:hover {
    color: #e67e08;
  }
  
  /* Header Right styling */
  .header-right-link {
    font-size: 18px;
    font-weight: 500;
    color: #f58506;
    cursor: pointer;
  }
  
  .header-right-link:hover {
    color: #f58506;
  }
  /* Custom Media Queries */

/* For devices with a max width of 990px (Medium devices) */
@media (max-width: 990px) {
    .header-left {
      flex-direction: row-reverse;
    }
  
    .header-menu {
      display: block;
      margin-right: 20px;
    }
  
    .navbar {
      position: absolute;
      left: 0;
      top: 100%;
      width: 100%;
      background-color: var(--blue-color);
      transition: all 0.7s ease-in-out;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }
  
    .nav-links {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      padding-left: 30px;
    }
  
    .nav-link {
      margin: 0;
      margin-bottom: 15px;
    }
  }
  
  /* For devices with a max width of 520px (Small devices) */
  @media (max-width: 520px) {
    .header {
      padding: 0 10px;
    }
  
    .header-logo {
      font-size: 19px;
    }
  
    .header-right-link {
      font-size: 17px;
      padding: 5px 7px;
    }
  
    .header-menu {
      margin-right: 10px;
    }
  }
  